<div class="container">
    <img src="~/images/FaleConosco.png" alt="Fale conosco"/>
</div>
<div class="jumbotron">
    <h3>Quero ouvir o que você tem a dizer</h3>
    <p>Se você tiver alguma dúvida ou sugestão fale conosco</p>
    <p>       
        <span>
            <img src="~/images/envelope.png"/>
        </span>
        <h5><email-tag-helpers endereco="marcioplay@gmail.com" conteudo="Enviar um e-mail"></email-tag-helpers></h5>
        <br />
        <span>
            <img src="~/images/bolha-de-bate-papo.png"/>
        </span>
        <h5>(81) 99675-0434</h5>
        <br />
        <span>
            <img src="~/images/endereco-residencial.png"/>
        </span>
        <h5>Rua: Manoel Salvador 118-b Barro</h5>
</div>
<br />
<div>
    <a role="button" class="btn btn-primary" asp-controller="Livro" asp-action="List">Voltar</a>
</div>