<img  src="/images/AreaAdmin2.jpg" alt="Área de Administração"/>
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do administrador.</h2>
        </p>
    </div>
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Voltar a página inicial</a>
</div>